/* Add these styles to UserRegisterModule.css */

html, body {
  height: 100%;
  margin: 0;
}

.d-flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column !important;
}

.min-vh-100 {
  min-height: 100vh !important;
}

.flex-grow-1 {
  flex-grow: 1 !important;
}

.container {
  max-height: 1200px;
}

.registration-box {
  background-color: #85848486;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  border: #ffffff1b;
  padding: 20px;
}

.submitbutton {
  width: 100%;
}

@media (max-width: 768px) {
  .container {
    max-height: 1200px;
  }
  .registration-box {
    padding: 10px;
  }
  .submitbutton {
    width: 100%;
  }
  .form-group,
  .form-check,
  .text-center {
    width: 100%;
  }
}
