.sidebar {
    width: 250px;
    background: #fcfbfb;
    padding: 10px;
}

.category-item {
    margin-bottom: 10px;
    cursor: pointer;
}

.category-header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #343a40;    
    border: 1px solid #ddd;
    /* border-radius: 4px; */
    transition: background 0.3s;
}

.category-header:hover {
    background: #f1f1f1;
}

.category-image {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.category-info {
    flex-grow: 1;
}

.category-name {
    font-weight: bold;
}

.category-description {
    font-size: 12px;
    color: #666;
}

.arrow {
    font-size: 16px;
    margin-left: 10px;
}

.subcategories {
    padding-left: 20px;
    margin-top: 10px;
}

.subcategory-button {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 5px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: left;
    transition: background 0.3s;
}

.subcategory-button:hover {
    background: #f1f1f1;
}
