/* General CSS */
.hero-section {
  text-align: center;
  padding: 20px;
  background: url('/public/images/background-image.jpeg') no-repeat center center;
  background-size: cover;
  color: #fff;
  height: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-section h2 {
  font-size: 36px;
  font-weight: 500;
  text-shadow: 8px 6px 8px rgba(250, 5, 5, 0.5);
  margin-top: 70px;
}

.hero-section p {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.content-section {
  padding: 20px;
}

/* Section Headers */
.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.viewall {
  color: #060606;
  text-decoration: none;
}
.section-header h3 {
  margin: 0;
  font-size: 24px;
}

.section-header a {
  color: #040404;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 600;
}

/* Category List and Cards */
.categories-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.category-list, .service-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.category-card {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
 
 justify-content: center; 
 text-align: center;
 background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 150px;
  height: auto;
  margin: 10px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.category-card:hover {
  transform: scale(1.05);
}

.category-card .category-image {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  overflow: hidden;
  margin-bottom: 10px; /* Adjusted margin */
  display: flex;
  align-items: center; /* Center image vertically */
  justify-content: center; /* Center image horizontally */
}

.category-card .category-image img {
  width: 100%;
  height: auto;
}
.category-image img {
  border-radius: 50%;
  width: 80px; /* Adjust as needed */
  height: 80px; /* Adjust as needed */
}

.category-card .category-details {
  text-align: center; /* Center text */
}

.category-card .category-details h1 {
  font-size: 18px;
  margin-bottom: 5px;
}

.category-card .category-details p {
  margin: 0;
  font-size: 14px;
}

/* Service Cards */
.service-card {
  display: flex;
  align-items: center; /* Center items vertically */
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 30%;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.service-card:hover {
  transform: scale(1.05);
}

.service-card .service-image {
  flex: 0 0 60px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  overflow: hidden;
  margin-right: 10px;
  display: flex;
  align-items: center; /* Center image vertically */
  justify-content: center; /* Center image horizontally */
}

.service-card .service-image img {
  width: 100%;
  height: auto;
}

.service-card .service-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center text vertically */
}

.service-card .service-details h4 {
  font-size: 18px;
  margin-bottom: 5px;
}

.service-card .service-details p {
  margin: 0;
  font-size: 14px;
}
/* .service-card .service-details p {
  font-size: 14px;
  margin: 2px 0;
} */