.footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* .footer-info {
    text-align: left;
  }
   */
  .footer-links a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
  }