/* Footer.css */

.footer-wrapper .footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-wrapper .footer-info {
  text-align: left;
  flex: 1;
  min-width: 200px;
}

.footer-wrapper .footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex: 1;
  min-width: 200px;
}

.footer-wrapper .footer-links a {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
}

@media (max-width: 768px) {
  .footer-wrapper .footer {
    flex-direction: column;
    text-align: center;
  }

  .footer-wrapper .footer-info,
  .footer-wrapper .footer-links {
    margin-bottom: 10px;
    flex: none;
    text-align: center;
  }

  .footer-wrapper .footer-links a {
    margin: 5px 10px;
  }
}
