.sidebar {
    width: 300px;
    background: #343a40;
    color: #fff;
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
}

.subcategory-item {
    margin-bottom: 10px;
    cursor: pointer;
}

.subcategory-header {
    display: flex;
    align-items: center;
    padding: 10px;
    background: #f6f7f8;
    color: #323538;
    border-radius: 4px;
    transition: background 0.3s;
}

.subcategory-header:hover {
    background: #b5b7b8;
}

.subcategory-image {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 4px;
}

.subcategory-info {
    flex-grow: 1;
}

.subcategory-name {
    font-weight: bold;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto; /* Adjust the height to fit content */
        margin-bottom: 20px; /* Adds space below the sidebar */
    }

    .subcategory-header {
        flex-direction: column; /* Stacks the header content vertically */
        align-items: flex-start; /* Aligns items to the start */
    }

    .subcategory-image {
        margin: 0 auto 10px; /* Centers the image with margin below */
    }
}
