.subcategory-page {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom right, #3a2c2c, #fbd7d705);
}

.subcategory-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.vendor-list {
  max-height: 97vh;
  overflow-y: auto;
}

.content {
  flex-grow: 1;
  padding: 30px;
  box-sizing: border-box;
  overflow-y: auto;
  background: linear-gradient(to bottom right, #e6e6e6, #473f3f);
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.vendor-card {
  background: #fff;
  padding: 20px;
  margin: 10px 0;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  min-height: 150px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.vendor-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.vendor-card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 20px;
}

.vendor-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 150px;
}

.vendor-info h3 {
  margin: 20px 0;
  font-size: 1.8em;
}

.vendor-info p {
  margin: 5px 0;
  font-size: 1.1em;
}

.vendor-card button {
  position: absolute;
  right: 20px;
  bottom: 20px;
  padding: 10px 30px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
}

.vendor-card button:hover {
  background-color: #0056b3;
}

/* Responsive styles for screens with max-width: 768px */
@media (max-width: 768px) {
  .subcategory-container {
    flex-direction: column;
  }

  .subcategory-sidebar {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .content {
    width: 100%;
    padding: 15px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: 1.5rem;
  }

  p, a {
    font-size: 1rem;
  }
}

/* Responsive styles for screens with max-width: 480px */
@media (max-width: 480px) {
  .subcategory-sidebar {
    padding: 10px;
  }

  .content {
    padding: 10px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: 1.25rem;
  }

  p, a {
    font-size: 0.9rem;
  }

  button {
    padding: 10px;
    font-size: 0.9rem;
  }
}
